body {
    background: rgb(37, 37, 37);
    text-align: center;
    overflow-y: scroll;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
img{
   width: 40vh; 
}
  h1{
    color: rgb(255, 67, 67); 
    font-size: 12vh;
  }

  h2{
    color: rgb(224, 135, 0);
    font-size: 5vh;
    padding-bottom: 1em;
  }

  a{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 75, 146);
    font-size: 4vh;
    padding: 1em;
    text-decoration: none;
    border-radius: 20px;
  }

  a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(91, 176, 255);
    border-color: rgb(0, 0, 0);
    cursor: pointer;
  }
